<div class="article-preview">
    <div class="article-meta">
        <a href="{% url 'profile_detail' username=article.author.user.username %}">
            <img src="{{ article.author.image }}" alt="{{ article.author.user.username }}"/>
        </a>
        <div class="info">
            <a href="{% url 'profile_detail' username=article.author.user.username %}" class="author">
                {{ article.author.user.username }}
            </a>
            <span class="date">
                {{ article.created_at|date:"D M d Y" }}
            </span>
        </div>
        <div class="pull-xs-right">
            {% include 'article_favorite.html' %}
        </div>
    </div>
    <a href="{{ article.get_absolute_url }}" rel="prefetch" class="preview-link">
        <h1>{{ article.title }}</h1>
        <p>{{ article.description }}</p>
        <span>Read more...</span>
    </a>
</div>
