{% extends 'base.html' %}
{% block title %}
    <title>{{ article.title }} - Conduit: Django + HTMX</title>
{% endblock %}
{% block content %}
    <div class="article-page">
        <div class="banner">
            <div class="container">
                <h1>{{ article.title }}</h1>
                <div class="article-meta">
                    <a href="{% url 'profile_detail' username=article.author.user.username %}">
                        <img src="{{ article.author.image }}" alt="{{ article.author.user.username }}"/>
                    </a>
                    <div class="info">
                        <a href="{% url 'profile_detail' username=article.author.user.username %}" class="author">
                            {{ article.author.user.username }}
                        </a>
                        <span class="date">
                            {{ article.created_at|date:"D M d Y" }}
                        </span>
                    </div>
                    {% if user == article.author.user %}
                        <span>
                            <a
                                href="{% url 'editor_update' slug=article.slug %}"
                                class="btn btn-outline-secondary btn-sm"
                            >
                                <span class="ion-edit">
                                    Edit Article
                                </span>
                            </a>
                            {% include 'article_delete.html' %}
                        </span>
                    {% else %}
                        <span>
                            {% include 'profile_follow.html' with profile=article.author %}
                            {% include 'article_favorite.html' %}
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="container page">
            <div class="row article-content">
                <div class="col-xs-12">
                    <div>
                        {{ article.body|linebreaks }}
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                {% include 'comments.html' %}
            </div>
        </div>
    </div>
{% endblock %}
