<div class="card">
  <div class="card-block">
    <p class="card-text">
      {{ comment.body }}
    </p>
  </div>
  <div class="card-footer">
    <a href="{% url 'profile_detail' username=comment.author.user.username %}" class="comment-author">
      <img src="{{ comment.author.image }}" class="comment-author-img" alt="{{ comment.author.user.username }}"/>
    </a>
    <a href="{% url 'profile_detail' username=comment.author.user.username %}" class="comment-author">
      {{ comment.author.user.username }}
    </a>
    <span class="date-posted">
      {{ comment.created_at|date:"D M d Y" }}
    </span>
    {% if user == comment.author.user %}
      {% include 'comment_delete.html' %}
    {% endif %}
  </div>
</div>
