<div class="col-xs-12 col-md-8 offset-md-2">
    <div>
        <div class="card comment-form">
            <div class="card-footer">
                <a
                    href="{% url 'comment_create' slug=article.slug %}"
                    class="btn btn-sm btn-primary"
                >
                    Post Comment
                </a>
            </div>
        </div>
        {#% include "comment_create.html" %#}
    </div>
    {% for comment in article.comments.all|dictsortreversed:'created_at' %}
        <div class="card">
            <div class="card-block">
                <p class="card-text">
                    {{ comment.body }}
                </p>
            </div>
            <div class="card-footer">
                <span class="comment-author">
                    {{ comment.author }}
                </span>
                <span class="date-posted">
                    {{ comment.created_at|date:"D M d Y" }}
                </span>
            </div>
        </div>
    {% endfor %}
</div>
