{% extends 'base.html' %}
{% block content %}
    <div class="editor-page">
        <div class="container page">
            <div class="row">
                <div class="col-md-10 offset-md-1 col-xs-12">
                    <form method="post">
                        {% csrf_token %}
                        <fieldset>
                            <fieldset class="form-group">
                                {{ form.title.errors }}
                                <input
                                    class="form-control form-control-lg"
                                    type="text"
                                    placeholder="Article Title"
                                    name="{{ form.title.name }}"
                                    value="{{ form.title.value|default_if_none:'' }}"
                                />
                            </fieldset>
                            <fieldset class="form-group">
                                {{ form.description.errors }}
                                <input
                                    class="form-control"
                                    type="text"
                                    placeholder="What's this article about?"
                                    name="{{ form.description.name }}"
                                    value="{{ form.description.value|default_if_none:'' }}"
                                />
                            </fieldset>
                            <fieldset class="form-group">
                                {{ form.body.errors }}
                                <textarea
                                    class="form-control"
                                    rows="8"
                                    placeholder="Write your article (in markdown)"
                                    name="{{ form.body.name }}"
                                >{{ form.body.value|default_if_none:'' }}</textarea>
                            </fieldset>
                            <!-- <fieldset class="form-group">
                                 <input
                                 class="form-control"
                                 type="text"
                                 placeholder="Enter tags"
                                 use:enter={add_tag}
                                 />
                                 <div class="tag-list">
                                 {#each form.tagList as tag, i}
                                 <span class="tag-default tag-pill">
                                 <i class="ion-close-round" on:click={() => remove(i)} />
                                 {tag}
                                 </span>
                                 {/each}
                                 </div>
                                 </fieldset> -->
                            <button class="btn btn-lg pull-xs-right btn-primary">
                                Publish Article
                            </button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
