{% extends 'base.html' %}
{% block content %}
    <div class="banner">
        <div class="container">
            <h1 class="logo-font">conduit</h1>
            <p>A place to share your knowledge.</p>
        </div>
    </div>
    <div class="home-page">
        <div class="container page">
            <div class="row">
                <div class="col-md-9">
                    <div class="feed-toggle">
                        <ul class="nav nav-pills outline-active">
                            <li class="nav-item">
                                <a
                                    href="/"
                                    rel="prefetch"
                                    class="nav-link"
                                    class:active={tab === 'all' && !tag}
                                >
                                    Global Feed
                                </a>
                            </li>
                        </ul>
                    </div>
                    {% for article in articles %}
                        <div class="article-preview">
                            <div class="article-meta">
                                <!-- <a href="/profile/@{article.author.username}"> -->
                                <!-- <img src={article.author.image} alt={article.author.username} /> -->
                                <!-- </a> -->
                                <div class="info">
                                    <!-- <a class="author" href="/profile/@{article.author.username}"> -->
                                    {{  article.author }}
                                    <!-- </a> -->
                                    <span class="date">
                                        {{ article.created_at|date:"D M d Y" }}
                                    </span>
                                </div>
                                {% comment %}
                                    {#% if user %#}
                                    <div class="pull-xs-right">
                                        <button
                                            class="btn btn-sm {article.favorited ? 'btn-primary' : 'btn-outline-primary'}"
                                            on:click={toggle_favorite}
                                        >
                                            <i class="ion-heart" />
                                            {article.favoritesCount}
                                        </button>
                                    </div>
                                    {#% endif %#}
                                {% endcomment %}
                            </div>
                            <!-- <a href="/article/{article.slug}" rel="prefetch" class="preview-link"> -->
                            <h1>{{ article.title }}</h1>
                            <p>{{ article.description }}</p>
                            <span>Read more...</span>
                            {% comment %}
                                <ul class="tag-list">
                                    {#% for tag in article.tagList %#}
                                        <li class="tag-default tag-pill tag-outline"><a href="/?tag={{ tag }}">{{ tag }}</a></li>
                                    {#% endfor %#}
                                </ul>
                            {% endcomment %}
                            <!-- </a> -->
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
