{% extends 'base.html' %}
{% block content %}
    <div class="home-page">
        <div class="banner">
            <div class="container">
                <h1 class="logo-font">conduit</h1>
                <p>A place to share your knowledge.</p>
            </div>
        </div>
        <div class="container page">
            <div class="row">
                <div class="col-md-9">
                    {% if articles|length_is:'0' %}
                        <div class="article-preview">
                            No articles are here... yet.
                        </div>
                    {% else %}
                        <div>
                            {% for article in articles %}
                                {% include 'article_preview.html' %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
