{% extends 'base.html' %}
{% block content %}
    <div class="home-page">
        <div class="banner">
            <div class="container">
                <h1 class="logo-font">conduit</h1>
                <p>A place to share your knowledge.</p>
            </div>
        </div>
        <div class="container page">
            <div class="row">
                <div class="col-md-9">
                    {% for article in articles %}
                        <div class="article-preview">
                            <div class="article-meta">
                                <div class="info">
                                    <span class="author">
                                        {{ article.author }}
                                    </span>
                                    <span class="date">
                                        {{ article.created_at|date:"D M d Y" }}
                                    </span>
                                </div>
                            </div>
                            <a href="{{ article.get_absolute_url }}" rel="prefetch" class="preview-link">
                                <h1>{{ article.title }}</h1>
                                <p>{{ article.description }}</p>
                                <span>Read more...</span>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
