<nav class="navbar navbar-light">
    <div class="container">
        <a rel="prefetch" class="navbar-brand" href="/">conduit</a>
        <ul class="nav navbar-nav pull-xs-right">
            <li class="nav-item">
                {% url 'home' as home %}
                <a
                    href="{{ home }}"
                    rel="prefetch"
                    class="nav-link
                          {% if request.path == home %}active{% endif %}"
                >
                    Home
                </a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    {% url 'editor_create' as editor_create %}
                    <a
                        href="{{ editor_create }}"
                        rel="prefetch"
                        class="nav-link
                              {% if request.path == editor_create %}active{% endif %}"
                    >
                        <span class="ion-compose"> New Post </span>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'settings' as settings %}
                    <a
                        href="{{ settings }}"
                        rel="prefetch"
                        class="nav-link
                              {% if request.path == settings %}active{% endif %}"
                    >
                        <span class="ion-gear-a"> Settings </span>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'profile_detail' username=user.username as profile %}
                    <a
                        href="{{ profile }}"
                        rel="prefetch"
                        class="nav-link
                              {% if request.path == profile %}active{% endif %}"
                    >
                        <img src="{{ user.profile.image }}" class="user-pic" alt="{{ user.username }}">
                        {{ user.username }}
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'logout' %}" rel="prefetch" class="nav-link">
                        <span class="ion-log-out"></span>
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    {% url 'login' as login %}
                    <a
                        href="{{ login }}"
                        rel="prefetch"
                        class="nav-link
                              {% if request.path == login %}active{% endif %}"
                    >
                        Sign in
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'signup' as signup %}
                    <a
                        href="{{ signup }}"
                        rel="prefetch"
                        class="nav-link
                              {% if request.path == signup %}active{% endif %}"
                    >
                        Sign up
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
