<nav class="navbar navbar-light">
    <div class="container">
        <a rel="prefetch" class="navbar-brand" href="/">conduit</a>
        <ul class="nav navbar-nav pull-xs-right">
            <li class="nav-item">
                <a rel="prefetch" class="nav-link" href="{% url 'home' %}">
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a rel="prefetch" href="{% url 'editor_create' %}" class="nav-link">
                    <i class="ion-compose"> New Post </i>
                </a>
            </li>
        </ul>
    </div>
</nav>
