{% extends 'base.html' %}
{% block title %}
    <title>{{ profile.user.username }} - Conduit: Django + HTMX</title>
{% endblock %}
{% block content %}
    <div class="profile-page">
        <div class="user-info">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-10 offset-md-1">
                        <img src="{{ profile.image }}" class="user-img" alt="{{ profile.user.username }}" />
                        <h4>{{ profile.user.username }}</h4>
                        <p>{{ profile.bio|default:"This user doesn't have a bio for now" }}</p>
                        {% if user.username == profile.user.username %}
                            <a
                                href="{% url 'settings' %}"
                                class="btn btn-sm btn-outline-secondary action-btn"
                            >
                                <span class="ion-gear-a">
                                    Edit Profile Settings
                                </span>
                            </a>
                        {% else %}
                            {% include 'profile_follow.html' %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-10 offset-md-1">
                    <div class="articles-toggle">
                        <ul class="nav nav-pills outline-active">
                            <li class="nav-item">
                                {% url 'profile_detail' username=profile.user.username as profile_detail %}
                                <a
                                    href="{{ profile_detail }}"
                                    rel="prefetch"
                                    class="nav-link
                                          {% if request.path == profile_detail %}active{% endif %}"
                                >
                                    My Articles
                                </a>
                            </li>
                            <li class="nav-item">
                                {% url 'profile_favorites' username=profile.user.username as profile_favorites %}
                                <a
                                    href="{{ profile_favorites }}"
                                    rel="prefetch"
                                    class="nav-link
                                          {% if request.path == profile_favorites %}active{% endif %}"
                                >
                                    Favorited Articles
                                </a>
                            </li>
                        </ul>
                    </div>
                    {% if request.path == profile_detail %}
                        {% include 'article_list.html' with articles=my_articles %}
                    {% elif request.path == profile_favorites %}
                        {% include 'article_list.html' with articles=favorited_articles %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
